body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* three.js canvas */
#three-canvas {
    background-image: radial-gradient(#003d5e, #000000);
    width: 100vw;
    height: 100vh;
}
